@charset "UTF-8";

/*==================== GOOGLE FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');


/*==================== VARIABLES CSS ====================*/
:root {
    --header-height: 3rem;

    /*========== Colors#section ==========*/
    /* Change favorite color, use var to control the hue colour */
    --hue-color: 200; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

    /* HSL color mode */
    --first-color: hsl(var(--hue-color), 50%, 78%);
    --first-color-second: hsl(var(--hue-color), 50%, 75%);
    --first-color-alt: hsl(var(--hue-color), 40%, 47%);
    --first-color-lighter:hsl(var(--hue-color), 70%, 90%) ;
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --table-color: hsl(var(--hue-color), 80%, 96%);
    --table-color-lighter: hsl(var(--hue-color), 90%, 100%);
    --body-color: hsl(var(--hue-color), 50%, 92%);
    --container-color: #fff;
    --scroll-bar-color: hsl(var(--hue-color), 15%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 15%, 80%);

    /*========== Font and typography ==========*/
    --font-family: 'Roboto', sans-serif;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --h4-font-size: 1.05rem;
    --normal-font-size: 1rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-medium: 500;
    --font-bold: 700;

    /*========== Margenes Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 2.5rem;
        --h1-font-size: 2rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1.05rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*==================== BASE ====================*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0 0 var(--header-height) 0;
    font-family: var(--font-family);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1,h2,h3,h4{
    color: var(--title-color);
    font-weight: var(--font-bold);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

/*==================== REUSABLE CSS CLASSES ====================*/
.section{
    padding: 3rem 0 6rem;
}

.section__title{
    font-size: var(--h1-font-size);
}

.section__title__work{
    font-size: var(--h1-font-size);
    justify-self: start;
}

.section__subtitle{
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-3);
}

.section__title,
.section__subtitle{
    text-align: center;
}
/*==================== LAYOUT ====================*/
.container{
    max-width: 968px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid{
    display:grid;
    gap: 1.5rem;
}

.header{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
}


/*==================== NAV ====================*/
.nav{
    max-width: 968px;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;   
}

.nav__logo,
.nav__toggle{
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav__logo:hover{
    color: var(--first-color);
}

.nav__toggle{
    font-size: 1.1rem;
    cursor: pointer;
}

.nav__toggle:hover{
    color: var(--first-color);
}

@media screen and (max-width: 767px){
    .nav__menu{
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: var(--body-color);
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgba(0,0,0,.15);
        border-radius: 1.5rem 1.5rem 0 0;
        transition: .3s;
    }
}

.nav__list{
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.nav__link{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav__link:hover{
    color: var(--first-color);
}

.nav__icon{
    font-size: 1.2rem;
}

.nav__close{
    position: absolute;
    right: 1.3rem;
    bottom: .5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--first-color);
}

.nav__close:hover{
    color: var(--first-color-alt);
}

/* show menu */
.show-menu{
    bottom: 0;
}

/* Active link - link with js file*/
.active-link{
    color: var(--first-color-alt);
}

/* Change background header - link with js file */
.scroll-header{
    background-color: var(--first-color-lighter);
    box-shadow: 0 -1px 4px rgba(0,0,0,.15);
}


/*==================== HOME ====================*/
.home__container{
    gap: 1rem;
}

.home__content{
    grid-template-columns: .5fr 3fr;
    padding-top: 3.5rem;
    align-items: center;
}

.home__social{
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}

.home__social-icon{
    font-size: 1.25rem;
    color: var(--first-color);
}

.home__social-icon:hover{
    color: var(--first-color-alt);
}

.home__catpic{
    width: 360px;
    border-radius: 50%;
}

.home__data{
    grid-column: 1/3;
}

.home__title{
    font-size: var(--big-font-size);
}

.home__subtitle{
    font-size: var(--h3-font-size);
    color: var(--text-color);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-75);
}

.home__description{
    margin-bottom: var(--mb-2);
}

.home__scroll{
    display: none;
}

.home__scroll-button{
    color: var(--first-color);
    transition: .3s;
}

.home__scroll-button:hover{
    transform: translateY(.25rem);
}

.home__scroll-mouse{
    font-size: 2rem;
}

.home__scroll-name{
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
    margin-right: var(--mb-0-25);
}

.home__scroll-arrow{
    font-size: 1.25rem;
}
/*==================== BUTTONS ====================*/
.button{
    display: inline-block;
    background-color: var(--first-color);
    color: #FFF;
    padding: 1rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
}

.button:hover{
    background-color: var(--first-color-alt);
}

.button__icon{
    font-size: 1.25rem;
    margin-left: var(--mb-0-5);
    transition: .3s;
}

.button--flex{
    display: inline-flex;
    align-items: center;
}
/*==================== WORK BUTTONS ====================*/
a.work__button {
    background-color: var(--first-color);
    border: none;
    color: #FFF;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: .5rem;
  }

  a.work__button__left {
    background-color: var(--first-color);
    border: none;
    color: #FFF;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: .5rem;
  }

  a.work__button__right {
    background-color: var(--first-color);
    border: none;
    color: #FFF;
    padding: 10px 20px;
    float: right;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: .5rem;
    margin-right: 0;
    
  }

/*==================== HR ELEMENTS ====================*/
hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    color:gray;
    background-color:gray
  }

/*==================== ABOUT ====================*/
.about__img{
    width: 160px;
    border-radius: .5rem;
    justify-self: center;
    align-self: center;
}

.about__description{
    text-align: center;
    margin-bottom: var(--mb-2-5);
}


.about__buttons{
    display: flex;
    justify-content: center;
}
/*==================== SKILLS ====================*/
.skills__container{
    row-gap: 3rem;
    
}

.skills__icon{
    color: var(--first-color);
    width: 100px;
    align-items: center;
}


.skills-wrapper img {
    padding: 1.25rem;
    align-items: center;
    color: var(--first-color);
  }

.skills__titles{
    font-size: var(--h3-font-size);
}

.skills__subtitle{
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}


/*==================== PROJECT CARD ====================*/
.article-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(auto, 1fr));
    gap: 2rem;
}

.article-image{
    margin: 0;
    padding:0;
    overflow: hidden;
}

.article-image img{
    max-width: 100%;
    height: auto;
    border-radius: 20px 20px 0 0;
}

.article-card{
    background: white;
    border-radius: 20px;
    height: 400px;
    transition: 0.3s;
}

.article-card:hover{
    box-shadow: 0 -1px 4px rgba(0,0,0,.15);
    cursor: pointer;
}

.article-content{
    padding: 2rem;
    height: 300px;
}

.article-content .card-category{
    font-size: var(--smaller-font-size);
    display: block;
}

.article-content .card-title{
    margin: 0rem 0;
}

.article-content .card-excerpt{
    line-height: 1.5rem;
    margin: 0;
    padding: 0.5rem;
}

.card__video{
    width:100%;
    max-height:auto;
    border-radius: .75rem;
    justify-self: center;
}


/* This part is for the popup window of portfolio*/
.portfolio1__video{
    width: 100%
}



/* ======    WORK CARD SECTION   ================*/
* {
    box-sizing: border-box;
  }

  /* Create two unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
    height: 400px; 
  }
  
  .left {
    width: 50%;
  }
  
  .right {
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* word card tech label */
  .label {
    color: white;
    padding: 4px;
    font-family: Arial;
    font-size: 0.85rem;
  }
  .tech {background-color: var(--first-color-alt)} /* Green */
  

/*===========Slide show container of work===============*/
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/*==================== WORK 1 ====================*/

.work__container{
    width: 768px;    
}

.work__data{
    padding: 0 1.5rem;
    display: block;
    line-height: 1.5rem;
    padding: 0.5rem;
}

.work__img{
    width: 265px;
    border-radius: .5rem;
    justify-self: center;
}

.work__video{
    width:100%;
    max-height:auto;
    border-radius: .75rem;
    justify-self: center;
}

.work__title{
    font-size: var(--h2-font-size);
    margin-bottom: var(--mb-0-75);
}

.work__content{
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-0-75);
    color: rgb(63, 63, 63);
}

.work__small_content{
    font-size: var(--h4-font-size);
    margin-bottom: var(--mb-0-75);
    color: rgb(63, 63, 63);
}

.work__description{
    text-align: left;
    font-size: var(--normal-font-size);
    color: var(--text-color);
    margin-bottom: var(--mb-3);
}

.work__link{
    text-align: left;
    font-size: var(--normal-font-size);    
}

.work__link:hover{
    color: var(--first-color-alt);
}

/*==================== My SIDE PROJECT ====================*/
/* Will update into portfolio later */


/*==================== CONTACT ME ====================*/
.contact__container{
    row-gap: 3rem;
}

.content__information{
    display: flex;
    margin-bottom: var(--mb-2);
}

.contact__icon{
    font-size: 2rem;
    color: var(--first-color);
    margin-right: var(--mb-0-75);
}

.contact__title{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
}

.contact__subtitle{
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}

.contact__content{
    background-color: var(--input-color);
    border-radius: .5rem;
    padding: .45rem 1rem .25rem;
}

.contact__label{
    font-size: var(--smaller-font-size);
    color: var(--title-color);
}

.contact__input{
    width: 100%;
    background-color: var(--input-color);
    color: var(--text-color);
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    border: none;
    outline: none;
    padding: .25rem .5rem .5rem 0;
}

button[type="submit"]{
    display: inline-block;
    width:20%;
    background-color: var(--first-color);
    color: #FFF;
    padding: 1rem;
    border-radius: .5rem;
    border: none;
    outline: none;
    font-weight: var(--font-medium);
}

button[type="submit"]:hover{
    background-color: var(--first-color-alt);
}

button[type="submit"]--flex{
    display: inline-flex;
    align-items: center;
}



/*==================== FOOTER ====================*/
.footer{
    padding-top: 2rem;
}

.footer__container{
    row-gap: 3.5rem;
}

.footer__bg{
    background-color: var(--first-color-second);
    padding: 2rem 0 3rem;
}

.footer__title{
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-0-25);
}

.footer__subtitle{
    font-size: var(--small-font-size);
}

.footer__links{
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.footer__link:hover{
    color:var(--first-color-lighter);
}

.footer__social{
    font-size: 1.25rem;
    margin-right: var(--mb-1-5);
}

.footer__social:hover{
    color:var(--first-color-lighter);
}

.footer__copy{
    font-size: var(--smaller-font-size);
    text-align: center;
    color: var(--text-color);
    margin-top:var(--mb-3);
}

.footer__title,
.footer__subtitle,
.footer__link,
.footer__social{
    color:#FFF;
}

/*========== SCROLL UP ==========*/
.scrollup{
    position: fixed;
    right: 1rem;
    bottom: -20%;
    background-color: var(--first-color);
    opacity: .8;
    padding: 0 .3rem;
    border-radius: .4rem;
    z-index: var(--z-tooltip);
    transition: .4s;
}

.scrollup:hover{
    background-color: var(--first-color-alt);
}

.scrollup__icon{
    font-size: 1.5rem;
    color: #FFF;
}

/* Show scroll * add motion to scroll icon */
.show-scroll{
    bottom: 5rem;
}

/*========== SCROLL BAR ==========*/
::-webkit-scrollbar{
    width: .60rem;
    background-color: var(--scroll-bar-color);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb{
    background-color:var(--scroll-thumb-color);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover{
    background-color: var(--text-color-light);
}

/*==================== MEDIA QUERIES ====================*/
/* For small devices */
@media screen and (max-width: 350px){
    .container{
        margin-left: var(--mb-1);
        margin-right:var(--mb-1);
    }

    .nav__menu{
        padding: 2rem .25rem 4rem;
    }

    .nav__list{
        column-gap: 0;
    }

    .home__content{
        grid-template-columns: .25fr 3fr;
    }

    .home__catpic{
        width: 180px;
    }

    .skills__title{
        font-size:var(--normal-font-size);
    }

   

}
  
    /* portfiolo section */
    .project__img{
        width: 200px;
    }

/* For medium devices */
@media screen and (min-width: 568px){
    .home__content{
        grid-template-columns: max-content 1fr 1fr;
    }
    .home__data{
        grid-column: initial;
    }
    .home__img{
        order: 1;
        justify-self: center;
    }

    .about__containe,
    .skills__container,
    .timeline__container,
    .projects__container
    .portfolio__content,
    .contact__container,
    .footer__container{
        grid-template-columns: repeat(2, 1fr);
    }

 }

@media screen and (min-width: 768px){
    .container{
        margin-left: auto;
        margin-right: auto;
    }

    body{
        margin: 0;
    }

    .section{
        padding: 6rem 0 2rem;
    }
    .section__subtitle{
        margin-bottom: 4rem;
    }

    .header{
        top: 0;
        bottom: initial;
    }

    .header,
    .main,
    .footer__container{
        padding: 0 1rem;
    }

    .nav{
        height: calc(var(--header-height) + 1.5rem);
        column-gap: 1rem;
    }
    .nav__icon,
    .nav__close,
    .nav__toggle{
        display: none;
    }
    .nav__list{
        display: flex;
        column-gap: 2rem;
    }
    .nav__menu{
        margin-left: auto;
    }
    .change-theme{
        margin: 0;
    }

    .home__container{
        row-gap: 5rem;
    }
    .home__content{
        padding-top: 5.5rem;
        column-gap: 2rem;
    }
    .home__catpic{
        width: 280px;
    }
    .home__scroll{
        display: block;
    }
    .home__scroll-button{
        margin-left: 3rem;
    }

    .about__container{
        column-gap: 5rem;
    }
    .about__img{
        width: 180px;
    }
    .about__description{
        text-align: initial;
    }
    .about__info{
        justify-content: space-between;
    }
    .about__button{
        justify-content: initial;
    }

    .article-card{
        display: grid;
        grid-template-rows: 200px 1fr;
    }

    .portfolio__img{
        width: 320px;    
    }
    .portfolio__content{
        align-items: center;
    }

    .footer__container{
        grid-template-columns: repeat(3, 1fr);
    }
    .footer__bg{
        padding: 3rem 0 3.5rem;
    }
    .footer__links{
        flex-direction: row;
        column-gap: 2rem;    
    }
    .footer__socials{
        justify-self: flex-end;
    }
    .footer__copy{
        margin-top: 4.5rem;
    }

    
}

/* For large devices */
@media screen and (min-width: 1024px){
    .header,
    .main,
    .footer__container{
        padding: 0;
    }

    .home__catpic{
        width: 320px;
    }
    .home__social{
        transform: translateX(-6rem);
    }
 
    .portfolio__content{
        column-gap: 5rem;
    }
    .swiper-portfolio-icon{
        font-size: 3.5rem;
    }
    .swiper-button-prev{
        left: -3.5rem;
    }
    .swiper-buttom-next{
        right: -3.5rem;
    }
    .swiper-container-horizontal > .swiper-pagination-bullets{
        bottom: -4.5rem;
    }
    .contact__form{
        width: 460px;    
    }
    .contact__inputs{
        grid-template-columns: repeat(2, 1fr);

    }

}

